.container233 {
    position: relative;
    text-align: center;
    color: white;
}

.container-about-page {
    position: relative;
    text-align: center;
    color: white;
}

.container-about-page img {
    height: 80vh;
    top: 10% !important;
}

@media(max-width:900px) {
    .container-about-page img {
        height: 100vh;
        margin-top: 30px;
    }

    .top-left-home {
        margin-top: 40px;
    }

    .top-left-home h6 {
        font-size: 15px !important;
    }

    .top-left-home p {
        /* display: none; */
        color: #ffffff;
        font-size: 13px !important;
    }

}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 1%;
    left: 8%;
}

.top-left-home {
    position: absolute !important;
    top: -8%;
    left: 8%;
}

.top-left-home h6 {
    font-size: large;
    font-weight: 600;
    font-size: 1.1rem;

}


.top-left-home p {
    color: #ffffff;
    font-size: 1rem;
}

.container-who {
    text-align: center;
    padding: 37px;
}

.container h1 {
    color: #f89410;
    font-weight: 700;
}

#textpara {
    text-align: center;
    color: #00723c;
}

.vision2 {
    color: #00723c;
    text-transform: capitalize;
}

.container-our-values {
    position: relative;
    text-align: center;
    color: white;
}

.cad-hyt {
    height: 16rem;
}

.centered {
    position: absolute;
    color: black !important;
    top: 20%;
    left: 50%;
    font-size: xx-large;
    letter-spacing: 10px;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.top-left {
    height: 400px;
    width: 300px;
    /* opacity: 0.5; */
    /* background: #00723c; */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #00723c);
    /* background: linear-gradient(0deg, #00723c 0%, rgba(0, 114, 60, 1) 35%, #00723c 100%); */
}

.top-left-home {
    height: 25rem;
    /* opacity: 0.5; */
    /* background: #00723c; */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #00723c);
    /* background: linear-gradient(0deg, #00723c 0%, rgba(0, 114, 60, 1) 35%, #00723c 100%); */
}

.Carousel1 {
    margin-top: -22%;
}

.lgo-images {
    height: 500px;
    position: relative;
}

.text-logo {
    position: absolute;
    top: 20%;
    color: #00723c;
}

.images-7 {
    height: 25rem;
    position: absolute;
    float: right;
    right: 34%;
    width: 30rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials {
    padding: 100px 0;
}

.testimonials h3 {
    margin-bottom: 20px;
}

.testimonials .card {
    border-bottom: 3px #00723c solid !important;
    transition: 0.5s;
    margin-top: 60px;
}

.testimonials .card i {
    background-color: #00723c;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
}


.nextText-m {
    position: absolute;
    top: 55%;
    left: 17%;
    cursor: pointer;
    color: red;
}

.nextText-m img {
    width: 25px;
    height: 25px;
}

.nextText-d {
    position: absolute;
    top: 38%;
    left: 64%;
    color: red;
    cursor: pointer;
}

.nextText-k {
    position: absolute;
    top: 15%;
    left: 24%;
    color: red;
    cursor: pointer;
}


@media (min-width: 768px) {
    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-6 {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .col-md-4 {
        flex: 0 0 calc(33.3333% - 20px);
        max-width: calc(33.3333% - 20px);
    }

    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }
}

/* Additional styles for larger screens (customize as needed) */
@media (min-width: 992px) {
    /* Add styles for screens wider than 992px */
}

/* Additional styles for larger screens (customize as needed) */
@media (min-width: 1200px) {
    /* Add styles for screens wider than 1200px */
}



/* Media Query for mobile devices */
@media only screen and (max-width: 768px) {
    .home-page {
        /* margin-top: -28px; */
    }

    .input-group {
        display: none;
    }

    .search-btn2 {
        display: none;
    }

    .form1 {
        display: none;
    }

    .typewriter {
        display: none;
    }

    header {
        height: 110px;
    }

    .logo img {
        margin-top: -39px;
    }

    .serch-input {
        display: none;
    }


    .cart {
        display: none;
    }

    .card-img-overlay.text-content {
        /* left: 5%; */
        top: 70%;
        text-align: center;
    }

    .ani-container {
        line-height: 1.5;
        /* Adjust line-height for better mobile readability */
    }

    .graz-img {
        display: none;
    }

    .back-img img {
        display: none;
    }

    #Testimonials {
        top: 50%;
    }

    .testi-cint {
        padding: 10px !important;
        margin-top: 175% !important;
    }

    .india-map {
        display: none;
    }

    .contact-wrap {
        /* width: 80%;
        width: 401px; */
        padding: 73px !important;
    }

    .align-items-stretch {
        padding: 20px;
    }

    .container233 img {
        display: none;
        height: 100vh;
        width: 100vw;
    }

    .top-left {
        height: 50vh;
        width: 50% !important;
    }

    .top-left p {
        font-size: 1rem !important;
    }

    .left-img-grz img {
        height: 100%;
    }

    .vision2 {
        font-size: 1.3rem !important;
    }

    .text-logo p {
        font-size: 11px !important;
    }

    .container-our-values img {
        height: 80vh;
        /* margin-top: ;
        padd */
        padding: 20px;
    }

    .centered {
        top: 30%;
    }

    .Carousel1 {
        display: none;
    }

    .hand-img img {
        display: none;
    }

    .images-7 {
        display: none;
    }

    .test-image {
        display: none !important;
    }

    .contact-info {
        width: 200px !important;
    }

    .contact-info {
        width: 50%;
        /* /* left: 150px; */
        left: -88px !important;
    }

    .contact-info-content p {
        color: black;
        font-size: 1em;
        width: 340px !important;
    }

    .no-gutters {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .get-in-touch {
        font-size: 35px !important;
    }
    .mobile-home-img1{
        display: block!important;
        height: 100vh;
        width: 100vw;
    }
}


@media only screen and (min-width: 768px) {
    .mobile-home-img1{
        display: none;
    }
}


/* Default styles for the card container */
.card-container {
    padding: 20px;
}

.hr-lines {
    /* border-bottom: 2px solid #333; */
    text-align: center;
    margin-bottom: 20px;
}

.product-img2 img {
    width: 100%;
    height: auto;
}

.card_wrapper {
    margin-top: 20px;
}

.card_box {
    cursor: pointer;
    margin: 10px;
}

.card_box img {
    width: 100%;
    height: auto;
}

.card_text {
    text-align: center;
}

/* Media Query for mobile devices */
@media only screen and (max-width: 768px) {
    .card-container {
        padding: 10px;
    }

    .hr-lines {
        margin-bottom: 10px;
    }

    .card_wrapper {
        margin-top: 10px;
    }

    .card_box {
        margin: 5px;
    }
}

























.carousel-control-prev,
.carousel-control-next {
    /*background: black;*/
    width: 4.5% !important;
    transition: opacity .2s ease-in;
}

.carousel-control-next-icon {
    background-image: url(https://image.flaticon.com/icons/svg/481/481146.svg) !important;
    transform: rotate(180deg);
}

.carousel-control-prev-icon {
    background-image: url(https://image.flaticon.com/icons/svg/481/481146.svg) !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-next {
    right: -70px;
}

.carousel-control-prev {
    left: -70px;
}

.bisc {
    color: white;
    margin-right: 0px;
    background: -webkit-gradient(linear, right top, left bottom, from(#4c68d7), color-stop(#8a3ab9), color-stop(#cd486b), color-stop(#fb8750), to(#FF9800));
    background: -webkit-linear-gradient(right top, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
    background: -o-linear-gradient(right top, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
    background: linear-gradient(to left bottom, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
    -webkit-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.green {
    background-color: #6fb936;
}

.page-top {
    margin-top: 150px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}

.myback-img {
    display: flex;
    justify-content: center;
    height: 372px;
    overflow: hidden;
    object-fit: cover;
    border-radius: .25rem;
}

.myoverlay {
    position: absolute;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.72) 100%);
    height: 100%;
    width: 100%;
    top: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}

.avatar-profile img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    opacity: 0.9;
    object-fit: cover;
    -o-object-fit: cover;
}

.borders {
    position: relative;
    border: 5px solid #fff;
    border-radius: 100%;
}

.borders:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 100%;
    background-image: linear-gradient(90deg, #FDA240, #C5087E), linear-gradient(90deg, #FDA240, #C5087E);
    background-position: 0 0px, 100% 100%;
    background-size: 100% 5px;
    border-left: 5px solid #FDA240;
    border-right: 5px solid #C5087E;
    padding: 10px 5px;
}

.profile-img {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-title {
    text-align: center;
    position: relative;
    top: -39px;
    margin-bottom: -26px;
}

.profile-title h3 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none !important;
}

/*--carousel css--*/

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}